

# Pandas Series exercises

In [ ]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.3.5



## Series creation

### Create an empty pandas Series

In [2]:
# your code goes here
import pandas as pd
series=pd.Series([])
series

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  after removing the cwd from sys.path.

Series([], dtype: float64)



### Given the X python list convert it to an Y pandas Series

In [3]:
# your code goes here
myList=[1,2,3,4]
mySeries=pd.Series(myList)
mySeries

0    1
1    2
2    3
3    4
dtype: int64



### Given the X pandas Series, name it 'My letters'

In [ ]:
# your code goes here
MyLetters=pd.Series(["AI","Data Science","Web"])

0    1
1    2
2    3
3    4
Name: My letters, dtype: int64



### Given the X pandas Series, show its values

In [4]:
# your code goes here
MyLetters=pd.Series(["AI","Data Science","Web"])
MyLetters.values

array(['AI', 'Data Science', 'Web'], dtype=object)



## Series indexation

### Assign index names to the given X pandas Series

In [5]:
# your code goes here
MyLetters=pd.Series(["AI","Data Science","Web"])
index_series= ['First', 'Second', 'Third']
MyLetters.index=index_series
MyLetters

First               AI
Second    Data Science
Third              Web
dtype: object



### Given the X pandas Series, show its first element

In [6]:
# your code goes here
print(MyLetters[0])

AI



### Given the X pandas Series, show its last element

In [7]:
# your code goes here
print(MyLetters[-1])

Web



### Given the X pandas Series, show all middle elements

In [10]:
# your code goes here
print(MyLetters[1:-1])

Second    Data Science
dtype: object



### Given the X pandas Series, show the elements in reverse position

In [14]:
# your code goes here
print(MyLetters[::-1])

Third              Web
Second    Data Science
First               AI
dtype: object



### Given the X pandas Series, show the first and last elements, in one instruction

In [15]:
# your code goes here
print(MyLetters[0],MyLetters[-1])

AI Web



## Series manipulation

### Convert the given integer pandas Series to float

In [18]:
# your code goes here
MySerie=pd.Series([1,2,3,4])
float_df=MySerie.astype(float)
float_df

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64



### Reverse the given pandas Series (first element becomes last)

In [19]:
# your code goes here
MySerie=pd.Series([1,2,3,4])
MySerie.iloc[::-1]

3    4
2    3
1    2
0    1
dtype: int64



### Order (sort) the given pandas Series

In [2]:
# your code goes here
import pandas as pd
MySerie=pd.Series([1,2,3,4])
MySerie.sort_values()

0    1
1    2
2    3
3    4
dtype: int64



### Given the X pandas Series, set the fifth element equal to 10

In [21]:
# your code goes here
MySerie=pd.Series([1,2,3,4,5,6,7])
MySerie.iloc[4] = 10
MySerie

0     1
1     2
2     3
3     4
4    10
5     6
6     7
dtype: int64

A     1
B     4
C     7
D     8
E    10
F     7
dtype: int64



### Given the X pandas Series, change all the middle elements to 0

In [25]:
# your code goes here
MySerie=pd.Series([1,2,3,4,5,6,7])
MySerie.iloc[1:-1] = 0
MySerie

0    1
1    0
2    0
3    0
4    0
5    0
6    7
dtype: int64



### Given the X pandas Series, add 5 to every element

In [26]:
# your code goes here
MySerie=pd.Series([1,2,3,4,5,6,7])
MySerie.iloc[::]+=1
MySerie

0    2
1    3
2    4
3    5
4    6
5    7
6    8
dtype: int64



## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [4]:
# your code goes here
import pandas as pd
MySerie=pd.Series([-1,-2,-3,-4,-5,-6])
MySerie.mask(MySerie<0, False)

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool



### Given the X pandas Series, get the negative elements

In [5]:
# your code goes here
MySerie=pd.Series([-1,2,-3,4,-5,-6])
MySerie[MySerie<0]

0   -1
2   -3
4   -5
5   -6
dtype: int64



### Given the X pandas Series, get numbers higher than 5

In [6]:
# your code goes here
MySerie=pd.Series([-1,2,-3,4,5,6,7,8])
MySerie[MySerie>5]

5    6
6    7
7    8
dtype: int64



### Given the X pandas Series, get numbers higher than the elements mean

In [10]:
# your code goes here
MySerie=pd.Series([-1,2,-3,4,5,6,7,8])
print(MySerie.mean())#3.5
MySerie[MySerie>MySerie.mean()]

3.5



### Given the X pandas Series, get numbers equal to 2 or 10

In [24]:
# your code goes here
MySerie=pd.Series([-1,2,-3,4,5,6,7,8,9,10,2])
MySerie[(MySerie==2) | (MySerie==10)]#the pipe instead of the or operator

1      2
9     10
10     2
dtype: int64



## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [37]:
MySerie=pd.Series([1,2,3,4])
all(MySerie!=0)

True



### Given the X pandas Series, return True if any of its elements is zero

In [41]:
# your code goes here
MySerie=pd.Series([1,0,3,4])
any(MySerie==0)

False

###Given the X pandas Series, return True if any of its indexes is zero

In [42]:
MySerie=pd.Series([1,0,3,4])
any(MySerie.index==0)

True



## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [43]:
# your code goes here

MySerie=pd.Series([1,0,3,4])
print(sum(MySerie))

8



### Given the X pandas Series, show the mean value of its elements

In [44]:
# your code goes here

MySerie=pd.Series([1,0,3,4])
print(MySerie.mean())

2.0



### Given the X pandas Series, show the max value of its elements

In [45]:
# your code goes here
MySerie=pd.Series([1,0,3,4])
print(max(MySerie))

4